# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Dependencias de Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de desarrollo
dist/
build/
.coverage/
.nyc_output/

# Archivos de configuración de IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de caché
.cache/

# Archivos de paquetes
*.tgz

# Archivos de configuración de Babel
babel.config.js

# Archivos de configuración de TypeScript
tsconfig.json
*.tsbuildinfo

# Archivos de configuración de ESLint
.eslintcache
.eslintrc.js

# Archivos de configuración de Prettier
.prettierrc
.prettierignore

# Archivos de configuración de Jest
jest.config.js
jest.setup.js

# Archivos de configuración de Docker
docker-compose.yml
Dockerfile

# Archivos de configuración de Heroku
.heroku/

# Archivos de configuración de npm/yarn
package-lock.json
yarn.lock

# Archivos de configuración de Git
.gitattributes
.gitkeep

# Archivos de configuración de otros
*.pem
*.key
*.crt