# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Dependencias de Node.js
node_modules/



# Archivos de configuración de IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de caché
.cache/


# Archivos de configuración de TypeScript
tsconfig.json
*.tsbuildinfo

# Archivos de configuración de ESLint
.eslintcache
.eslintrc.js


# Archivos de configuración de npm
package-lock.json



dist/

